h2 {
	font-size: 130%;
	font-weight: bold;
	line-height: 100%;
}

h3 {
	font-size: 120%;
	font-weight: bold;
	margin-left: 10px;
}

p {
	margin-left: 15px;
}

ul {
	margin-left: 30px;
	list-style-type: disc;
}

li ul {
	margin-left: 5px;
	list-style-type: circle;
}

table {
	width: 100%;
	margin: 4px;
	border-spacing: 0px;
	border-collapse: collapse;
}

th {
	border: 1px solid #000000;
	padding: 1px 5px;
	margin: 0px;
}

td {
	border: 1px solid #000000;
	padding: 1px 3px 2px;
	margin: 0px;
}

tr {
	margin: 0px;
}

tr.oddrow td {
	background: #E5E5FF;
}

th {
	font-weight: bold;
	background: #A0A0A0;
	border-bottom: 2px solid;
}

th.caption {
	background: #C0C0C0;
	border-bottom: 1px solid;
}

caption {
	padding: 0px;
	font-weight: bold;
	text-align: center;
}

tt {
	font-family: consolas;
	text-variant: small-caps;
}